<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    	<#include "header.html">
    </head>
    <body>
      <!-- Wrap all page content here -->
      <div id="wrap">
          <div id="header"></div>
          <div id="content"></div>
          <div id="push"></div>
      </div>
      <div id="footer"></div>
      <div id="bg"></div>
      <script data-main="${payload.resPath}/scripts/main" src="${payload.resPath}/bower_components/requirejs/require.js"></script>
    </body>
</html>