@import 'sass-bootstrap/lib/bootstrap';

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

#button {
    text-align: left;
}

#search {
    margin-top: 10%;
}


#result {
    margin-top: 40px;
    text-align: center;
}

#logo {
    text-align: center;
}

#bitfingerLogo {
    width: 400px;
    margin-bottom: 30px;
    margin-right: 60px;
}