<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
        <a class="navbar-brand" href="#"><img src="{{resPath}}/images/logo.png" width="75px" /> <h1>beatcoin</h1></a>
      
    </div>
      <input id="hashInput" type="text" name="lname">
      <input id="hashBtn" type="button">
  </div>
</div>