<div id="search" class="container">
    <div class="row">
    	<div id="logo" class="col-xs-12"></div>	
    </div>
    <div class="row">
    	<div class="col-xs-12">
    		<div id="searchrow" class="row">
    			<div class="col-xs-2">
    			</div>
		    	<div class="col-xs-6">
					<form class="form-horizontal">
					  <div class="control-group form-inline">
					    <input id="searchInput" type="text" name="search" class="form-control" placeholder="acct:user@service">
					  </div>
					</form>
				</div>
				<div id="button" class="col-xs-2">
					<button class="btn btn-inverse" type="submit">Search</button>
				</div>
				<div class="col-xs-2">
    			</div>
			</div>
		</div>	
	</div>
	<div class="row">
		<div id="result" class="col-xs-12"></div>	
	</div>
</div>