<h2 class="form-fee-heading">Search number</h2>
<form>
  <div class="form-group">
    <label for="phoneImput">Phone Number:</label>
    <input id="phoneInput" type="tel" name="fee" class="form-control" placeholder="+CCXXXX...">
    <span class="help-block">Enter a phone number to receive the bitcoin address to pay to.</span>
  </div>
  <button class="btn btn-inverse" type="submit">Search</button>
</form>
<div id="errorAlert" class="alert alert-danger alert-dismissable fade">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <strong>Error!</strong> Not Found!
</div>
